 
<div id="boxes">
 
     
    <!-- #customize your modal window here -->
 
    <div id="dialog" class="window">
        <b>Infos about Event</b> | 
        <a href="#" class="close">Close it</a>
         <!-- close button is defined as close class -->
        <div id="dialogBody">
        </div>
    </div>
 
     
    <!-- Do not remove div#mask, because you'll need it to fill the whole screen --> 
    <div id="mask"></div>
</div>